@import url(./__authorization-black-text/button__authorization-black-text.css);
@import url(./__authorization-black-image/button__authorization-black-image.css);

.button__authorization-black {
  height: 48px;
  margin-right: 8%;
  margin-left: 44px;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 11px 12px 15px 12px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
}

.button__authorization-black:hover {
  border: 1px solid #1A1B22;
}