@import url(./__window-delete-title/article__window-delete-title.css);

.article__window-delete {
  display: flex;
  position: absolute;
  width: 159px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  top: 24px;
  right: 69px;
  align-items: center;
  text-align: center;
  /* display: none; */
}

@media screen and (max-width: 1120px) and (min-width: 951px) {
  .article__window-delete {
    top: 10px;
    right: 57px;
    width: 140px;
  }
}

@media screen and (max-width: 1120px) and (min-width: 769px) {
  .article__window-delete {
    top: 10px;
    right: 53px;
    width: 100px;
  }
}