.technologies__title {
  color: #1a1b22;
  font-family: robotoslab-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  max-width: 344px;
  margin: 80px 0px 0px 7.2%;
}

@media screen and (max-width: 1050px) and (min-width: 769px) {
  .technologies__title {
    margin: 80px 0px 40px 7.2%;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .technologies__title {
    margin: 80px 0px 40px 5.2%;
    font-size: 34px;
    line-height: 40px;
  }
}