.header_button {
  position: absolute;
  display: none;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .header_button {
    display: block;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
}