@import url(./__text/root__text.css);
@import url(./__title/root__title.css);
@import url(./__subtitle/root__subtitle.css);
@import url(./__section/root__section.css);

.news__saved {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 62px;
}