.search__button {
  width: 168px;
  height: 64px;
  background: #2f71e5;
  color: #ffffff;
  font-family: roboto-medium;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  margin-top: 0px;
  margin-left: 40px;
  padding: 0px;
  border: 0px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, .5);
}

.search__button:hover {
  background: #347eff;
}

.search__button:active {
  background: #2a65cc;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .search__button {
    width: 85%;
    max-width: 300px;
    height: 56px;
    display: grid;
    background: #2f71e5;
    border-radius: 100px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 16px;
    margin-top: 16px;
  }
}