@import url(./__title/footer__title.css);
@import url(./__links/footer__links.css);
@import url(./__container/footer__container.css);

.footer {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: #ffffff;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .footer {
    height: 224px;
    display: block;
    position: relative;
  }
}