.header__link-saved-news.header__link-saved-news_mobile {
  margin-left: 16px;
  font-weight: 500px;
  font-size: 18px;
  line-height: 56px;
  font-family: roboto-normal, Arial, Helvetica, sans-serif;
}