.popup__subtitle {
  margin: 0px 0px 8px;
  font-family: roboto-regular, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}