.popup__bottom_title {
  margin: 0px 0px 14px 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  font-family: roboto-medium, Arial, Helvetica, sans-serif;
  color: #000000;
}