.search__subtitle {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: roboto-regular, Arial, Helvetica, sans-serif;
  margin: 32px auto 0px 0px;
  max-width: 545px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .search__subtitle {
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-family: roboto-regular;
    margin: 16px auto 0px 16px;
    width: 85%;
  }
}