.header__button_black {
  height: 48px;
  margin-right: 8%;
  margin-left: 44px;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 11px 12px 15px 12px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  font-family: roboto-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
}

.header__button_black:hover {
  border: 1px solid #1A1B22;
}
@media screen and (max-width: 820px) and (min-width: 636px) {
  .header__button_black {
    margin-left: 10px;
    margin-right: 10px;
  }
}