@import url(./_authorization-black-text/button_authorization-black-text.css);
@import url(./_authorization-black-image/button__authorization-black-image.css);

.button_authorization-black {
  height: 48px;
  margin-right: 8%;
  margin-left: 44px;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 11px 12px 15px 12px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
}

.button_authorization-black:hover {
  border: 1px solid #1A1B22;
}
@media screen and (max-width: 820px) and (min-width: 636px) {
  .button_authorization-black {
    margin-left: 10px;
    margin-right: 10px;
  }
}