@import url(./__title/technologies__title.css);
@import url(./_container/techhnologies_container.css);

.technologies {
  width: 100%;
  min-height: 334px;
  display: flex;
}

@media screen and (max-width: 1050px) and (min-width: 320px) {
  .technologies {
    width: 100%;
    min-height: 334px;
    display: grid;
  }
}