@import url(./_text/popup__bottom_text.css);
@import url(./_link/popup__bottom_link.css);
@import url(./_title/popup__bottom_title.css);
@import url(./_login/popup__button_login.css);

.popup__bottom {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}