@import url(./_done/popup__link_done.css);

.popup__link {
  font-family: roboto-regular, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
}